<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>

<body>
    <%- layout("/layout/boilerplate.ejs") %>

        <div class="row mt-3">
            <div class="col-8 offset-2">

                <h3>Edit Your Listing</h3>

                <br>
                <form action="/listings/<%= listing.id %>?_method=PUT" method="post" class="needs-validation"
                    novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input class="form-control" type="text" name="listing[title]" value="<%= listing.title %>"
                            required>
                        <div class="invalid-feedback">
                            Title should be valid
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Description</label>
                        <textarea required class="form-control"
                            name="listing[description]"><%= listing.description %>></textarea>
                        <div class="invalid-feedback">
                            Description should be valid
                        </div>
                       
                    </div>
                    <div class="mb-3 ">  
                        <p>original image</p>
                        <img src="<%= originalurl %>" alt="image" class="edit-form-img ">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Image</label>
                        <input class="form-control" type="file" placeholder="Upload Image" name="listing[image]" value="<%= listing.image %>">
                       
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="title" class="form-label">Price</label>
                            <input class="form-control" type="text" name="listing[price]" value="<%= listing.price %>"
                                required>
                            <div class="invalid-feedback">
                                Price should be valid
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="title" class="form-label">Country</label>
                            <input class="form-control" type="text" name="listing[country]"
                                value="<%= listing.country %>" required>
                            <div class="invalid-feedback">
                                Country should be valid
                            </div>
                        </div>

                    </div>



                    <div class="mb-3">
                        <label for="title" class="form-label">Location</label>
                        <input class="form-control" type="text" cols="30" rows="10" name="listing[location]"
                            value="<%= listing.location %>" required>
                        <div class="invalid-feedback">
                            Location should be valid
                        </div>
                    </div>
                    <button class="btn btn-dark edit-button mt-3 ">Edit</button>

                </form>
            </div>
        </div>
</body>

</html>